.button {
    -fx-background-color: #bfbfbf;
    -fx-background-radius: 10px;
    -fx-padding: 8px;
    -fx-border: none;
    -fx-color: white;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 16px;
    -fx-margin: 4px 2px;
    -fx-cursor: pointer;
    -fx-transition-duration: 0.4s; /* Transition effect */
    -fx-text-align: center;
}

.button:hover {
    -fx-background-color: #96fa7d;
    -fx-cursor: hand;
}

.exitButton:hover {
    -fx-background-color: #e74c3c;
    -fx-cursor: hand;
}

.exitButton {
    -fx-pref-width: 45px;
}


.combo-box {
    -fx-background-color: #bfbfbf;
    -fx-border: none;
    -fx-color: white;
    -fx-font-size: 16px;
    -fx-cursor: pointer;
    -fx-text-align: center;
    -fx-border-radius: 10px;
}

.combo-box .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.combo-box:hover {
    -fx-background-color: #96fa7d;
}



.iterationLabel {
    -fx-background-color: #bfbfbf;
    -fx-background-radius: 10px;
    -fx-font-size: 16px;
    -fx-padding: 8px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-pref-width: 200px;
}

.addIterationInput {
    -fx-background-radius: 10px;
    -fx-font-size: 16px;
    -fx-padding: 8px;
    -fx-pref-width: 120px;

}

.text-field {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-font-size: 16px;
    -fx-padding: 8px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-pref-width: 150px;
}

.matrixInput{
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-font-size: 16px;
    -fx-padding: 8px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-pref-width: 50px;
    -fx-pref-height: 5px;
}

.MaxMinInput {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-font-size: 16px;
    -fx-padding: 8px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-pref-width: 70px;
}


